<article class="card" id="blog" data-postId="{{blogData.id}}">
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title mt-5">Edit Blog Post</h2><hr>
  <form class="update-blog-form" id="update-form">
    <div>
        <label for="blog-title">Blog Title:</label>
      <input class="input" name="blog-name" type="text" value="{{blog.name}}" />
    </div>
    <div>
        <label for="blog-content">Blog Content:</label>
      <input class="textarea" name="blog-description" type="text" value="{{blog.description}}" />
    </div>
    <div class="is-pulled-right">
       {{!-- Created By You On: {{format_date created_at}} --}}
      |
      {{!-- <a href=`/blog/{{blog.id}}`>{{blog.comments.length}} {{blog.comments.length}}</a> --}}
    </div>
    <button type="submit" class="button is-success" id="save-button">Save Post</button>
  </form>
</article>

{{!-- {{> comments blog.comments}} --}}

<script src="/js/editDelete.js"></script>
<script src="/js/comments.js"></script>